<phpunit
    bootstrap="test/bootstrap.php"
    colors="true"
    strict="true"
    verbose="false">
  <testsuites>
    <testsuite name="Demo Test Suite">
      <directory suffix="Test.php">test</directory>
    </testsuite>
  </testsuites>
  <php>
    <includePath>src</includePath>
  </php>
</phpunit>
